html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #E2E2E2;
}
.screen1{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin-top: 3rem;
}
.screen2{
  display: none;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  height: 100vh;
}
.main-logo {
  width: 100%;
  height: 5%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 3rem;
  font-weight: bold;
}
.game-board {
  display: grid;
  gap: 0.5rem;
  background-color: #FAEAD7;
  height: 100%;
  width: 100%;
  align-self: center;
  border-radius: 1rem;
}
.player-board-info {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 100%;
  height: 5%;
}
.game-setting {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  width: 100%;
}
.game-setting-board {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 90%;
}
.game-option{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 10%;
  margin-top: 1rem;
}
.game-option-count{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 40%;
}
.game-option-choose {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  width: 100%;
}
.game-line-choose {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  width: 100%;
}
.game-option-count, .game-line-choose {
  font-weight: bold;
}
.line-count-down, .line-count-up, .game-option-down, .game-option-up {
  height: 100%;
}
.first-attack-select {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 115px;
}
.game-start {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0 5%;
}
.player-board {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 45%;
  align-items: center;
  border-radius: 20px;
}
.player-board-name {
  width: 100px;
  height: 23%;
  background-color: #334E41;
  opacity: 50%;
  color: #FDF9E2;
  font-weight: bold;
  align-content: center;
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 1rem;
}
.main-game-body{
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 65%;
  width: 100%;
}
.player-board-figure1, .player-board-figure2 {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-gap: 10%;
  width: 70%;
  height: 70%;
}
.player-board-color {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background-color: blue; */
  margin: 5% 0;
  grid-gap: 10%;
  width: 70%;
  height: 70%;
}
.player-board-color2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background-color: blue; */
  margin: 5% 0;
  grid-gap: 10%;
  width: 70%;
  height: 70%;
}
.player-pick-color1 {
  background-color: #CB997E;;
  border-radius: 1rem;
  opacity: 0.6;
  transition: 0.2s;
}
.player-pick-color1:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.player-pick-color2 {
  background-color: #BEDEE8;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 0.2s;
}
.player-pick-color2:hover {
  opacity: 0.9;
  transition: 0.2s;
}
.player-pick-color3 {
  background-color: #ACBC83;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 0.2s;
}
.player-pick-color3:hover {
  opacity: 0.85;
  transition: 0.2s;
}
.player-pick-color4 {
  background-color: #FAD1DE;
  border-radius: 1rem;
  opacity: 0.7;
  transition: 0.2s;
}
.player-pick-color4:hover {
  opacity: 0.9;
  transition: 0.2s;
}
.info-undo {
  align-content: center;
  text-align: center;
  width: 8rem;
  height: 2rem;
  background-color: #334E41;
  opacity: 50%;
  color: #FDF9E2;
  font-weight: bold;
  border-radius: 0.4rem;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.info-undo:hover {
  opacity: 70%;
  transition: 0.3s;
}
  .info-figure1, .info-figure2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  opacity: 0.7;
  border-radius: 1rem;
  
}
.player-turn {
  width: 10%;
  border-radius: 1rem;
}
.history-back {
  display: flex;
  justify-content: space-around;
  position: relative;
  /* align-items: center; */
  /* text-align: right; */
  width: 100%;
  height: 5%;
  margin: 3% 0;
}
.undo-button {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.game-start-button {
  border: none;
  border-radius: 5px;
  background-color: #E3989B;
  opacity: 50%;
  transition: 0.4s;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 3rem;
  width: 8rem;
}
.game-start-button:hover {
  transition: 0.4s;
  opacity: 100%;
}
.right-arrow {
  display : block;
  width: 100%;
  height: 100%;
}
.left-arrow {
  display: none;
  width: 100%;
  height: 100%;
}

.history-back-button, .restart-button {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #E3989B;
  opacity: 50%;
  transition: 0.4s;
  font-size: 16px;
  font-weight: bold;
}
.z-index {
  z-index: -1;
}
.restart-button {
  position: relative;
}
.history-back-button:hover, .restart-button:hover {
  opacity: 100%;
}
.makeBorder {
  border-style : solid;
  border-color : gray;
  border-width : 3px;
  transition : 0.2s;
  border-radius : 1rem;
}
.svg-css1, .svg-css2, .svg-css3, .svg-css4{
  opacity: 0.65;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  align-items: center;
  justify-content: center;
}
